<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mobile</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dobot/dobot1" Match="NavLinkMatch.All">
                <img src="/pickaxe.svg" style="width: 28px" /> Добыча ресурсов
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/post/post1">
                <img src="/list-left-svgrepo-com.svg" style="width: 28px" /> Посты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <img src="/list-left-svgrepo-com.svg" style="width: 28px" /> Посты
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
